@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');


* {
  box-sizing: border-box;
}


body {
  margin: 0;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}

#header {
  text-align: center;
  margin: 3rem auto;
  border: 2px solid green;
  border-radius: 5px;
  padding-top: 1.5rem;
  margin-left: 10rem;
  margin-right: 10rem;
  background-color: #2e3532;
}

#header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
}

.input-group {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
  margin-top: 0.5rem;
}

#user-input {
  padding: 1rem;
  max-width: 40rem;
  margin: 2rem auto;  
  background: linear-gradient(180deg, #051b16, #247555);
}

#user-input label {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.5 rem;
  font-weight: bold;
  text-transform: uppercase;
}

#user-input input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #1c9476;
  border-radius: 0.25rem;
  background-color: #c2e9e0;
  font-size: 1rem;
}

#input-button {
   border: 1px solid #1c9476;
   border-radius: 0.25rem;
   background-color:  #29967c;
   color: #eaf1f0;
   width: 5rem;
   height: 2rem;
   font-size: 1rem;
   display: block;
   margin: 1rem auto;
   cursor: pointer;
}

#input-button:hover {
  background-color:  #93beb4;
  color: #373b3b;
}

#result {
  max-width: 60rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 2rem;
  text-align: right;
}

#result thead {
  font-size: 1rem;
  color: #eaf1f0;
}